[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DECIDE"]
	path = DECIDE
	url = https://github.com/cran/DECIDE
[submodule "DirectStandardisation"]
	path = DirectStandardisation
	url = https://github.com/cran/DirectStandardisation
[submodule "ManyTests"]
	path = ManyTests
	url = https://github.com/cran/ManyTests
[submodule "ssfit"]
	path = ssfit
	url = https://github.com/cran/ssfit
